{% extends "layout.html" %}

{% block title %}
    TechBeauty
{% endblock %}

{% block script %}

{% endblock %}

{% block head %}
{% endblock %}

{% block body %}

    <!-- Main Storefront Image -->
    <div class="jumbotron" id="imageJumbo">
        <img src="../static/images/dior.jpg">
        <div class="centered">
            <form action="{{ url_for('brand', brand_name="DIOR") }}" method="get">
                <button class="btn btn-dark">SHOP NOW</button>
            </form>
        </div>
    </div>

{% endblock %}