{% extends "layout.html" %}

{% block title %}
    Your New England
{% endblock %}

{% block script %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="wrap" id="loginBox">
                <img src="../static/images/loginImage.png">
                <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Sign In</h3>
                    </div>
                </div>
                <form action="{{ url_for('login') }}" class="signin-form">
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" id="usrname" placeholder="username" required>
                  </div>
                <div class="form-group">
                    <input id="password-field" type="password" class="form-control" placeholder="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">
                        <b>Sign In</b>
                    </button>
                </div>
                <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                        <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                            <input type="checkbox" checked>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="w-50 text-md-right">
                        <a href="#" id="forgot">Forgot Password</a>
                    </div>
                    </div>
                </form>
            <p class="text-center">Not a member? <a data-toggle="tab" href={{ url_for('register') }}>Sign Up</a></p>
        </div>
      </div>
     </div>
    </div>
</div>
{% endblock %}