{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container" id="brandContainer">
    <!-- List of all brands -->
    <table class="table table-striped">
        <!-- Go through all alphabets -->
        <thead>
            {% for k in brands.keys() %}
                <th scope="col" style="text-align: center;"> 
                    <!-- When there is no brand starting with the alphabet -->
                    {% if brands[k] == [] %}
                    <a href="" class="alphabet" id="{{ k }}" 
                        style="color:#5A5A5A;text-decoration: none;pointer-events:none;" 
                        onMouseOver="this.style.color='#4381e6'" 
                        onMouseOut="this.style.color='#000000'">
                        {{k}} 
                    </a>
                    <!-- Otherwise -->
                    {% else %}
                    <a href="#brand_{{k}}" class="alphabet" id="{{ k }}" 
                        style="color:#000000;" 
                        onMouseOver="this.style.color='#4381e6'" 
                        onMouseOut="this.style.color='#000000'">
                        {{k}} 
                    </a>
                    {% endif %}
                </th>
            {% endfor %}
        </thead>
        <tbody>
    </table>
    <!-- For all (alphabet, [brand_names list]) pairs in brands dictionary -->
    {% for alph, brand in brands.items() %}
        <div class="container">
            <h4 id="brand_{{ alph }}"><b>{{alph}}</b></h4>
            <ul>
                {% for name in brand %}
                <li><a href="{{ url_for('brand', brand_name=name) }}">{{name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>


{% endblock %}