{% extends "layout.html" %}

{% block script %}
<script>
    $(document).ready(function(){
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#productList tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container" id="productContainer">
        <!-- Filters for customers -->
        <div class="col-md-9">
        <div class="w-100 p-3" id="filters">
            <form action="{{ url_for('product_filter') }}" method="post">
                <div class="row">
                    <div class="col">
                        <label for="brand">Brand</label>
                        <select class="form-control" name="brand">
                            <option value=-1>Select...</option>
                            {% for brand in brands %}
                            <option value={{ brand.brand_id }}>{{ brand.brand_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="prod_type">Product Type</label>
                        <select class="form-control" name="prod_type">
                            <option value=-1>Select...</option>
                            <option value="Moisturizer">Moisturizer</option>
                            <option value="Cleanser">Cleanser</option>
                            <option value="Treatment">Treatment</option>
                            <option value="Face Mask">Face Mask</option>
                            <option value="Eye Cream">Eye Cream</option>
                            <option value="Sun Protect">Sun Protect</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="ing">Ingredients</label>
                        <div class="input-group" name="ing">
                            <input class="form-control" type="text" placeholder="Search by ingredient name" name="ingredients">
                            <button class="btn btn-dark">Search</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="price">Price Range</label>
                        <select class="form-control" name="price">
                            <option value=-1>All Price Range</option>
                            <option value=25>Under $25</option>
                            <option value=50>$25 - $50</option>
                            <option value=75>$50 - $75</option>
                            <option value=76>$75 +</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="rating">Rating</label>
                        <select class="form-control" name="rating">
                            <option value=-1>All Ratings</option>
                            <option value=4>4+</option>
                            <option value=3>3+</option>
                            <option value=2>2+</option>
                            <option value=1>1+</option>
                        </select>
                    </div>
                </div>
            </form>
            <hr>
            <form>
                <div class="row">
                    <div class="col">
                        <label for="names">Name of Brand/Product</label>
                        <input class="form-control" id="searchInput" type="text" placeholder="Search" name="names">
                    </div>
                </div>
            </form>
        </div>

        <!-- List of all queried products -->
        <table class="table table-striped" id="productList">
            <thead>
                <th scope="col">Brand</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Rating</th>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">
                        <a href={{ url_for('brand', brand_name=product.brand_name) }}>{{ product.brand_name }}</a>
                    </th>
                    <td id="prod_name">
                        <a href={{ url_for('product', product_id=product.product_id) }}>{{ product.product_name }}</a>
                    </td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.rating }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}